<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dixtron</title>
	<link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="global.css">
	<link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="local.css">
	<link rel="stylesheet" href="Product.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montaga&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Farro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </head>
  
<body>

    	
<!----Navbar starts----->

<nav>
    <div class="logo">
    <a href="index.html" class="leftlogo"> 
        <img src="DIXTRON.png"></a>
    </div>
    
  <!-- Search bar -->
  <div class="search-bar">
	<select name="category" class="category-dropdown">
	  <option value="all">All</option>
	</select>
	<input type="text" placeholder="Click me and search...">
  </div>

    <div class="right-logo">
    <a href="#" class="rightlogos" id="profile"><i class="fa fa-user"></i></a>
    <a href="#" class="rightlogos" id="cart"><i class="fa fa-shopping-cart"></i></a> 
</div>

<a href="#" class="menu-toggle" id="menu-toggle"><i class="fa fa-menu"></i></a> 

</nav>
<!----Navbar ends----->
   
<!----Menu-bar----->
<div class="menu-bar" id="menu-bar">
	<ul>
		<li class="has-submenu"><a href="Next day Products.html">Next Day</a>
			<div id="nextday" class="submenu">
				<div class="submenu-section">
					<a href="Next.Day.Delivery.Gaming.PCs.html"><button>Next Day Gaming PCs</button></a>
					<a href="Gaming PCs.html"><button>Gaming PC</button></a>
					<a href="Next Day Delivery Desktop PCs.html"><button>Next Day Desktop</button></a>
					<a href="next day laptop.html"><button>Next day Laptop</button></a>
					<a href="Next day Components.html"><button>Next day Components</button></a>
					<a href="next day storage.html"><button>Next day Storage</button></a>
					<a href="next day peripherals.html"><button>Next day Peripheral</button></a>
					<a href="next day networking.html"><button>Next day Networking</button></a>
			</div>
		</li>

		<li class="has-submenu"><a href="Custom PCs.html">Custom PCs</a>
			<div id="custom-pcs-submenu" class="submenu">
				<div class="submenu-section">
					<a href="Build your own PCs.html"><button>Build Your Own PC</button></a>
					<a href="Gaming PCs.html"><button>Gaming PC</button></a>
					<a href="Workstation PCs.html"><button>Workstation PCs</button></a>
					<a href="Custom Home office PCs.html"><button>Home/Office PCs</button></a>
					<a href="PCs by budget.html"><button>PCs by Budget</button></a>
				</div>
			</div>
		</li>

		<li class="has-submenu"><a href="Desktop PCs.html">Desktop PCs</a>
			<div id="desktop-submenu" class="submenu">
				<div class="submenu-section">
					<a href="Apple iMac PCs.html"><button>Apple iMac PCs</button></a>
					<a href="All in one PCs.html"><button>All in One PCs</button></a>
					<a href="Home Office PCs.html"><button>Home/Office PCs</button></a>
					<a href="Baredbone system.html"><button>Barebone Systems</button></a>
				</div>
			</div>
		</li>

		<li class="has-submenu"><a href="laptops.html">Laptops PCs</a>
			<div id="laptop-submenu" class="submenu">
				<div class="submenu-section">
				<a href="Apple laptops.html"><button>Apple Laptops</button></a>
				<a href="Home and office Laptops.html"><button>Home/Office Laptops</button></a>
				<a href="Gaming Laptops.html"><button>Gaming Laptops</button></a>
				<a href="Laptop Bags and sleeves.html"><button>Laptop Bags and Sleeves</button></a>
				<a href="Laptop docks.html"><button>Laptop Docks</button></a>
				</div>
			</div>
		</li>


		<li class="has-submenu"><a href="components.html">Components</a>
			<div id="component-submenu" class="submenu">
				<div class="submenu-section">
					<a href="Cases.html"><button>Cases</button></a>
					<a href="motherboards.html"><button>Motherboards</button></a>
					<a href="CPU proccessors.html"><button>CPU Processor</button></a>
					<a href="Fans & Cooling.html"><button>CPU Processor</button></a>
					<a href="Memory.html"><button>Memory</button></a>
					<a href="Storage.html"><button>Storage</button></a>
					<a href="Graphics Cards.html"><button>graphics Cards</button></a>
					<a href="Power Supplies.html"><button>Power Supplies</button></a>
				</div>
			</div>
		</li>

		<li class="has-submenu"><a href="Peripheral.html">Peripherals</a>
			<div id="per-menu" class="submenu">
				<div class="submenu-section">
					<a href="Monitors.html"><button>Monitors</button></a>
					<a href="Mouse and Keyboard.html"><button>Mouse & Keyboards</button></a>
					<a href="Headsets microphones and webcams.html"><button>Headsets microphones and webcams</button></a>
					<a href="Printing.html"><button>Printing</button></a>
					<a href="gaming accessories.html"><button>Gaming Accessories</button></a>
				</div>
			</div>
		</li>

		<li class="has-submenu">
			<a href="Softwares.html">Software</a>
			<div id="soft-menu" class="submenu">
				<div class="submenu-section">
					<a href="Microsoft Lincenses.html"><button>Microsoft Lincences</button></a>
					<a href="Antivirus Software.html"><button>Anti-Virus</button></a>
					<a href="IT Support Packages.html"><button>IT Support Packages</button></a>
				</div>
			</div>
		</li>

		<li class="has-submenu">
			<a href="networking.html">Networking</a>
			<div id="net-menu" class="submenu">
				<div class="submenu-section">
					<a href="Business networking.html"><button>Business Networking</button></a>
					<a href="Ubiquiti.html"><button>Ubiquiti</button></a>
					<a href="Routers and Mesh Systems and Switches.html"><button>Routers/Mesh Systems & Switches</button></a>
					<a href="Network Modules.html"><button>Network Modules</button></a>
					<a href="Servers & Rack Cabinets.html"><button>Servers & Rack Cabinets</button></a>
					<a href="PCI PCI-E Add in Cards.html"><button>PCI/PCI-E Add in Cards</button></a>
				</div>
		</li>
		
		<li class="has-submenu"><a href="Brands.html">Brands</a>
			<div id="brands-menu" class="submenu">
				<div class="submenu-section">
					<a href="asus.html"><button>ASUS</button></a>
					<a href="Apple.html"><button>Apple</button></a>
					<a href="amd.html"><button>AMD</button></a>
					<a href="BE QUIET.html"><button>be quiet!</button></a>
					<a href="Canon.html"><button>Canon</button></a>
					<a href="Corsair.html"><button>Corsair</button></a>
					<a href="DeepCool.html"><button>DeepCool</button></a>
				</div>
				<div class="submenu-section">
					<a href="Kingston.html"><button>Kingston</button></a>
					<a href="HP.html"><button>HP</button></a>
					<a href="HPE.html"><button>HPE</button></a>
					<a href="Marvo.html"><button>Marvo</button></a>
					<a href="piXL.html"><button>piXL</button></a>
					<a href="Samsung.html"><button>Samsung</button></a>
					<a href="TP-Link.html"><button>TP-Link</button></a>
					<a href="Western Digital.html"><button>Western Digital</button></a>
				</div>
			</div>
		</li>
		
		<li class="has-submenu" style="background-color: rgb(0, 0, 255);"><a href="Local IT Services.html">Local IT Services</a>
			<div id="Local-menu" class="submenu">
				<div class="submenu-section">
					<h5>IT Services</h5>
					<a href="Computer Repairs & Troubleshooting.html"><button>Computer Repairs & Troubleshooting</button></a>
					<a href="Computer Upgrades & Optimisation.html"><button>Computer Upgrades and Optimisation</button></a>
					<a href="Computer Setup & Data Transfer.html"><button>Computer Setup & Data Transfer</button></a>
				</div>
				<div class="submenu-section">
					<h5>IT Services</h5>
					<a href="virus & malware removal.html"><button>Virus & Malware Removal</button></a>
					<a href="backup solution.html"><button>Backup Solutions</button></a>
					<a href="Data Recovery.html"><button>Data Recovery</button></a>
					<a href="Data Recovery.html"><button>Data Destruction</button></a>
				</div>
			</li>

		<li class="has-submenu" style="background-color: rgb(255, 0, 13);">
			<a href="Business & public Sector IT.html">Business & Public Sector IT</a>
			<div id="bus-menu" class="submenu">
				<div class="submenu-section">
					<h5>IT Services</h5>
					<button>IT Procurement Services</button>
					<button>Managed IT Support Services</button>
					<button>Cloud Solutions</button>
					<button>Microsoft 365 Services</button>
					<button>Cyber Security Services</button>
					<button>Data Services</button>
					<button>System App & Dev Support</button>
				</div>
				<div class="submenu-section">
					<h5>Hardware Services</h5>
					<button>Business IT Products</button>
					<button>IT Procurement Services</button>
					<button>IT Equipment Leasing & Finance</button>
				</div>
			</div>
		</li>
	</ul>
  </div>
  <!----Menu-bar----->
	
<!-----promo section---->
<div class="promo-section">
	<div class="promo-text">On-Sale Laptops</div>
	<a href="laptops.html" class="promo-button">Shop now</a>
</div>

    <!------Local IT Support Services------->

    <div class="hero-section" id="Upgrades">
        <div class="hero-overlay">
            <div class="hero-content">
                <h1>Computer Upgrades and Optimisation</h1>
                <p>
                    We can provide you with any upgrade you need and trade in your old for new. Alternatively, we also offer optimisation services, where we canspeed up andoptimise your system to run efficiently and get the max out of it.
                </p>
                <a href="#form-section" class="hero-btn">Contact us today!</a>
            </div>
        </div>
    </div>

	<div class="text-card">
		<p>
			When it comes to using a computer, there’s nothing quite as frustrating as a slow one. Does yours take forever to boot up? Or maybe once it’s booted up, you’re always waiting for something to happen? <br>It shouldn’t be like that. At the very least, computers should make life easier, especially when we rely on them for everything in this day and age. They should also provide enjoyment and entertainment <br>being how multifunctional they are. If your computer isn't up to speed the chances are you're being less productive and not enjoying anything about <br> it and we can help. <br> <br>

		<h5>There are three solutions to this issue</h5>
		<br>
		<ol>
			<li> <strong>First solution</strong> is to replace your computer with a new one, but quite often that isn’t necessary depending on budget.</li><br>
			<li> <strong>Second solution</strong> is we can upgrade the components of your computer, replacing main components like RAM/Memory, Storage and Graphics Card.</li><br>
			<li> <strong>Third solution</strong> is we can get fantastic results by tuning up the software and your operating system. Quite often enough speed issues are related to software, perhaps some <br>that you don't know are installed and running background processes.</li> <br> 
		</ol>

        <h5>First Solution</h5>
		<p>
			If you do decide that you would prefer to completely replace your computer for a new one, we have plenty of options via our website. Feel free to browse from the following below and if you cannot <br> find something or would prefer us to help feel free to contact us directly. <br> <br>

            <strong>
            Desktop PCs - <a href="Desktop PCs.html"> <span style="text-decoration: underline; color: red;">Click Here</span></a> <br> <br>
            Laptops - <a href="laptops.html"> <span style="text-decoration: underline; color: red;">Click Here</span></a> <br> <br>
            </strong>

            <h5>Second Solution</h5>

            Two key components which are related to the speed of your computer are its RAM (Memory), and its Storage Drive. Not having enough memory and a slow Hard Disk Drive (HDD) can slow your <br> computer down significantly. Especially when applications and games are also requiring more resources to run them. <br> <br>
            
            Every task performed on your computer uses RAM (Memory). This can be anything from simple things like moving the mouse, to writing an e-mail, to opening a web page, playing a game, and <br>anything else in between. A RAM Upgrade will allow your computer to do things faster, and do more things at once. That's why you'll see editing PCs requiring a high amount of RAM. The good <br>news is, it isn’t as expensive as it once was and could be a small change that can make a huge difference to your computer. It is suggested that 16GBs should be the minimum with 8GB not <br> quite cutting it anymore. <br> <br>
            
            We’ve pointed out earlier that a slow Hard Disk Drive (HDD) can significantly slow down your computer, which isn’t all that surprising for a technology that was first introduced over 50 years ago. <br>Recently we’ve seen the introduction of new technology in Solid State Drives (SSDs), which have changed the game entirely. There are two types of SSDs, NVMes and 2.5" SSDs. <br>SSDs are more efficient. They’re faster, consume less power, produce less heat and make less noise. They’re also less prone to failure and magnetic damage. However, despite the many benefits, <br>they do cost more than HDDs, however in recent times they're not much more expensive. HDDs should only be used as a backup solution. <br> <br>
            
            We’ve seen the introduction of more PCs and Laptops equipped with SSDs, but a considerable amount still have an older HDD installed. This includes many that are on sale today. If you’re having <br>performance issues, or you purchased your computer more than 3 years ago, it is likely that it contains an HDD. <br> <br>
            
            In terms of performance gains any modern SSD will be several times faster than a standard HDD, and in some cases, the improvement will be even greater, and up to 20 times. <br>With an SSD upgrade you can expect: <br> <br> <br>

            <ol>
                <li>The Windows boot-up and shutdown procedures to be much quicker.</li><br>
                <li>Applicaions such as Google Chrome and Microsoft Word will be faster to load.</li><br>
                <li>The time taken to open files and photos will be reduced.</li> <br> 
                <li>It will be much faster to save your work and copy data.</li><br>
                <li>Backing up your data will be quicker.</li> <br> 
            </ol> <br> <br> <br> 

            We can also upgrade any component in your system, whether that is the Graphics Card to improve FPS in games, the CPU/Processor which may also require a motherboard change, the CPU works <br> with the RAM to improve running multiple processes at the same time. Finally we can also upgrade cooling, cases, power supplies and anything that a computer can fit. <br> <br>

Pricing is quoted based on the upgraded component and <strong>our hourly rate of £48</strong> to install them depending on how long it will take. <br> <br>

<strong>Third Solution</strong> <br> <br>
<p style="text-align: justify;">
The problems often start in the factory, and it may surprise you to learn that the manufacturer is to blame. When you buy a PC that’s been made by a mainstream manufacturer like HP or Dell, it’s <br>usually pre-loaded with what’s called ‘bloatware’. These are applications that most people won't use and are installed in the factory due to the manufacturer and software vendor having an <br>agreement. Bloatware doesn't directly contribute to the downfall of a computer but it does compete for system resources, so it certainly contributes to any system slowdowns. <br> <br>

We all overtime download and install programs that we never use, or forget to uninstall the ones we’ve stopped using, or didn’t start to use in the first place because they didn’t do what we <br> thought they would. <br> <br>

Another issue is, that when we do remove applications, files often get left behind. It isn’t just the programs we’ve uninstalled that leave unnecessary files behind though, over time, both <br>applications and the operating system create temporary files, and quite often, they don’t get deleted when they’re redundant. When you visit websites, files are often saved to your computer too <br>but never deleted. A large proportion of which add no value to your browsing. Add all this together and it can be a major drain on your computer’s resources, causing significant slowdowns. <br> <br>

<strong>We can do the following to help:</strong> <br> <br>
</p>
<ol style="text-align: justify;">
<li>Optimisation of your Windows Operating System.</li> <br>
<li>Full Scan for Viruses, Malware, and Spyware.</li> <br>
<li>Removal of any Viruses, Malware and Spyware discovered.</li> <br>
<li>Removal of any unwanted applications.</li> <br>
<li>Removal of files no longer used by applications or the operating system.
    Cleansing of the Windows Registry.</li> <br>
<li>Unfortunately, in more extreme cases, a full system reset will be necessary, which will involve re-installing Windows, and restoring the system to its factory settings.</li> <br>
<li>Re-installation of the Windows Operating System, and chosen applications.</li> <br>
<li>Installation of all necessary Windows Updates and Service Packs.</li> <br>
<li>Removal of any unwanted bloatware.</li> <br>
<li>Transfer of Files & Photos, and Internet Bookmarks.</li> <br>
<li>*Subject to the relevant software licenses being in place, and where necessary, the provision of installation software.
</li>
</ol> <br> <br>

Pricing is dependant on the amout of optimisation is required. <strong>This is charged based on our standard hourly rate of £48.</strong>
    </div> <hr>
	
<!----form---->


<div id="form-section" class="contact-form-container">
    <h2>Contact us today to find out how we can help</h2>
    <p>We aim to respond to all requests within 24 working hours.</p>
    <form>
        <label for="name">Your Name *</label>
        <input type="text" id="name" name="name" placeholder="Your Name" required>

        <label for="email">Email *</label>
        <input type="email" id="email" name="email" placeholder="Email" required>

        <label for="phone">Phone</label>
        <input type="tel" id="phone" name="phone" placeholder="Phone">

        <label for="service">What IT Service do you require? *</label>
        <select id="service" name="service" required>
            <option value="" disabled selected>Please select</option>
            <option value="option1">Computer Repairs & Troubleshooting</option>
            <option value="option2">Computer Upgrades and Optimisation</option>
            <option value="option3">Computer Setup & Data Transfer</option>
            <option value="option1">Virus & Malware Removal</option>
            <option value="option2">Backup Solutions</option>
            <option value="option3">Data Recovery</option>
            <option value="option3">Data Destruction</option>
        </select>

        <label for="comments">Additional comments</label>
        <textarea id="comments" name="comments" rows="2"></textarea>

        <button type="submit">Submit</button>
    </form>
</div>




<!----FOOTER----->
    
<section id="footer">
	<div class="container">
	 <div class="row">
	  <div class="footer_1 clearfix">
	   <div class="col-sm-3 col-xs-6">
		<div class="footer_1i clearfix">
		 <h5 style="color: white;" class="mgt col"><i class="fa fa-globe"></i> Visit our Support center <br> Expert help & advice</h5>
		</div>
	   </div>
	   <div class="col-sm-3 col-xs-6">
		<div class="footer_1i clearfix">
		 <h5 style="color: white;" class="mgt col"><i class="fa fa-truck"></i> Check your order status <br> Updates & Tracking</h5>
		</div>
	   </div>
	   <div class="col-sm-3 col-xs-6">
		<div class="footer_1i clearfix">
		 <h5 style="color: white;" class="mgt col"><i class="fa fa-retweet"></i>Returns & refunds All <br> you need to know</h5>
		</div>
	   </div>
	   <div class="col-sm-3 col-xs-6">
		<div class="footer_1i border_none clearfix">
		 <h5  style="color: white;"  class="mgt col"><i class="fa fa-tags"></i>Sell & Trade <br> Your IT Experience</h5>
		</div>
	   </div>
	  </div>
	  <div class="footer_2 clearfix">
	   <div class="col-sm-2">
		<div class="footer_2i clearfix">
		 <h5 style="color: white;"   class="col_1 mgt">SHOPS</h5>
		 <ul>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Custom PCs</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Destops</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Laptops</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Components & Parts</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Monitors</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Software</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Peripherals</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Networking</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Brands</a></li>
		 </ul>
		</div>
	   </div>
	   <div class="col-sm-2">
		<div class="footer_2i clearfix">
		 <h5 style="color: white;"   class="col_1 mgt">STORE INFO</h5>
		 <ul>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">About Us</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Customer Service</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">New Collection</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Best Sellers</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Manufactures</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Privacy Policy</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Terms & Condition</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Blog</a></li>
		 </ul>
		</div>
	   </div>
	   <div class="col-sm-2">
		<div class="footer_2i clearfix">
		 <h5 style="color: white;"   class="col_1 mgt">CUSTOMER CARE</h5>
		 <ul>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Search Terms</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Advanced Search</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Orders and Returns</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Contact Us</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">RSS</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Help & FAQs</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Consultant</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Store Locations</a></li>
		 </ul>
		</div>
	   </div>
	   <div class="col-sm-6">
		<div class="footer_2i1 clearfix">
		 <h5 style="color: white;"   class="col_1 mgt">SIGN UP FOR OUR NEWSLETTER</h5>
		 <p  style="color: white;"  class="col">Sign up for exclusive offers, product releases, news and more.</p>
		 <input type="text" class="form-control" placeholder="Enter your email address">
		 <h5 style="color: white;" class="mgt_b"><a class="button mgt" href="#"> SUBSCRIBE</a></h5>
		 <h5 style="color: white;" class="col_1">STAY CONNECTED</h5>
		 <ul class="social-network social-circle mgt">
						   <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
						   <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook-square"></i></a></li>
						   <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
						   <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
						   <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
			   </ul>
		</div>
	   </div>
	  </div>
	 </div>
	</div>
   </section>
   
   <section id="footer_bottom">
	<div class="container">
	 <div class="row">
	  <div class="col-sm-12">
	   <div class="footer_b_1 text-center clearfix">
		<p style="color: white;" class="mgt col">© 2024 DIXTRON All Rights Reserved </p>
	   </div>
	  </div>
	 </div>
	</div>
   </section>








   <script src='https://kit.fontawesome.com/c8e4d183c2.js'></script>

   <script src="script.js"></script>
   
   <script>
   $(document).ready(function(){
	   /*****Fixed Menu******/
	   var secondaryNav = $('.cd-secondary-nav'),
		  secondaryNavTopPosition = secondaryNav.offset().top;
		  navbar_height = document.querySelector('.navbar').offsetHeight;
		  
		   $(window).on('scroll', function(){
			   if($(window).scrollTop() > secondaryNavTopPosition + navbar_height ) {
				   secondaryNav.addClass('is-fixed');	
				   document.body.style.paddingTop = navbar_height + 'px';
				   
			   } else {
				   secondaryNav.removeClass('is-fixed');
				   document.body.style.paddingTop = '0'
			   }
		   });	
		   
   });
   </script>
   </body>
   </html>
   