<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dixtron</title>
	<link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="global.css">
	<link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="local.css">
	<link rel="stylesheet" href="Product.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montaga&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Farro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </head>
  
<body>

 <!----Navbar starts----->

<nav>
    <div class="logo">
    <a href="index.html" class="leftlogo"> 
        <img src="DIXTRON.png"></a>
    </div>
    
  <!-- Search bar -->
  <div class="search-bar">
	<select name="category" class="category-dropdown">
	  <option value="all">All</option>
	</select>
	<input type="text" placeholder="Click me and search...">
  </div>

    <div class="right-logo">
    <a href="#" class="rightlogos" id="profile"><i class="fa fa-user"></i></a>
    <a href="#" class="rightlogos" id="cart"><i class="fa fa-shopping-cart"></i></a> 
</div>

<a href="#" class="menu-toggle" id="menu-toggle"><i class="fa fa-menu"></i></a> 

</nav>
<!----Navbar ends----->
   
<!----Menu-bar----->
<div class="menu-bar" id="menu-bar">
	<ul>
		<li class="has-submenu"><a href="Next day Products.html">Next Day</a>
			<div id="nextday" class="submenu">
				<div class="submenu-section">
					<a href="Next.Day.Delivery.Gaming.PCs.html"><button>Next Day Gaming PCs</button></a>
					<a href="Gaming PCs.html"><button>Gaming PC</button></a>
					<a href="Next Day Delivery Desktop PCs.html"><button>Next Day Desktop</button></a>
					<a href="next day laptop.html"><button>Next day Laptop</button></a>
					<a href="Next day Components.html"><button>Next day Components</button></a>
					<a href="next day storage.html"><button>Next day Storage</button></a>
					<a href="next day peripherals.html"><button>Next day Peripheral</button></a>
					<a href="next day networking.html"><button>Next day Networking</button></a>
			</div>
		</li>

		<li class="has-submenu"><a href="Custom PCs.html">Custom PCs</a>
			<div id="custom-pcs-submenu" class="submenu">
				<div class="submenu-section">
					<a href="Build your own PCs.html"><button>Build Your Own PC</button></a>
					<a href="Gaming PCs.html"><button>Gaming PC</button></a>
					<a href="Workstation PCs.html"><button>Workstation PCs</button></a>
					<a href="Custom Home office PCs.html"><button>Home/Office PCs</button></a>
					<a href="PCs by budget.html"><button>PCs by Budget</button></a>
				</div>
			</div>
		</li>

		<li class="has-submenu"><a href="Desktop PCs.html">Desktop PCs</a>
			<div id="desktop-submenu" class="submenu">
				<div class="submenu-section">
					<a href="Apple iMac PCs.html"><button>Apple iMac PCs</button></a>
					<a href="All in one PCs.html"><button>All in One PCs</button></a>
					<a href="Home Office PCs.html"><button>Home/Office PCs</button></a>
					<a href="Baredbone system.html"><button>Barebone Systems</button></a>
				</div>
			</div>
		</li>

		<li class="has-submenu"><a href="laptops.html">Laptops PCs</a>
			<div id="laptop-submenu" class="submenu">
				<div class="submenu-section">
				<a href="Apple laptops.html"><button>Apple Laptops</button></a>
				<a href="Home and office Laptops.html"><button>Home/Office Laptops</button></a>
				<a href="Gaming Laptops.html"><button>Gaming Laptops</button></a>
				<a href="Laptop Bags and sleeves.html"><button>Laptop Bags and Sleeves</button></a>
				<a href="Laptop docks.html"><button>Laptop Docks</button></a>
				</div>
			</div>
		</li>


		<li class="has-submenu"><a href="components.html">Components</a>
			<div id="component-submenu" class="submenu">
				<div class="submenu-section">
					<a href="Cases.html"><button>Cases</button></a>
					<a href="motherboards.html"><button>Motherboards</button></a>
					<a href="CPU proccessors.html"><button>CPU Processor</button></a>
					<a href="Fans & Cooling.html"><button>CPU Processor</button></a>
					<a href="Memory.html"><button>Memory</button></a>
					<a href="Storage.html"><button>Storage</button></a>
					<a href="Graphics Cards.html"><button>graphics Cards</button></a>
					<a href="Power Supplies.html"><button>Power Supplies</button></a>
				</div>
			</div>
		</li>

		<li class="has-submenu"><a href="Peripheral.html">Peripherals</a>
			<div id="per-menu" class="submenu">
				<div class="submenu-section">
					<a href="Monitors.html"><button>Monitors</button></a>
					<a href="Mouse and Keyboard.html"><button>Mouse & Keyboards</button></a>
					<a href="Headsets microphones and webcams.html"><button>Headsets microphones and webcams</button></a>
					<a href="Printing.html"><button>Printing</button></a>
					<a href="gaming accessories.html"><button>Gaming Accessories</button></a>
				</div>
			</div>
		</li>

		<li class="has-submenu">
			<a href="Softwares.html">Software</a>
			<div id="soft-menu" class="submenu">
				<div class="submenu-section">
					<a href="Microsoft Lincenses.html"><button>Microsoft Lincences</button></a>
					<a href="Antivirus Software.html"><button>Anti-Virus</button></a>
					<a href="IT Support Packages.html"><button>IT Support Packages</button></a>
				</div>
			</div>
		</li>

		<li class="has-submenu">
			<a href="networking.html">Networking</a>
			<div id="net-menu" class="submenu">
				<div class="submenu-section">
					<a href="Business networking.html"><button>Business Networking</button></a>
					<a href="Ubiquiti.html"><button>Ubiquiti</button></a>
					<a href="Routers and Mesh Systems and Switches.html"><button>Routers/Mesh Systems & Switches</button></a>
					<a href="Network Modules.html"><button>Network Modules</button></a>
					<a href="Servers & Rack Cabinets.html"><button>Servers & Rack Cabinets</button></a>
					<a href="PCI PCI-E Add in Cards.html"><button>PCI/PCI-E Add in Cards</button></a>
				</div>
		</li>
		
		<li class="has-submenu"><a href="Brands.html">Brands</a>
			<div id="brands-menu" class="submenu">
				<div class="submenu-section">
					<a href="asus.html"><button>ASUS</button></a>
					<a href="Apple.html"><button>Apple</button></a>
					<a href="amd.html"><button>AMD</button></a>
					<a href="BE QUIET.html"><button>be quiet!</button></a>
					<a href="Canon.html"><button>Canon</button></a>
					<a href="Corsair.html"><button>Corsair</button></a>
					<a href="DeepCool.html"><button>DeepCool</button></a>
				</div>
				<div class="submenu-section">
					<a href="Kingston.html"><button>Kingston</button></a>
					<a href="HP.html"><button>HP</button></a>
					<a href="HPE.html"><button>HPE</button></a>
					<a href="Marvo.html"><button>Marvo</button></a>
					<a href="piXL.html"><button>piXL</button></a>
					<a href="Samsung.html"><button>Samsung</button></a>
					<a href="TP-Link.html"><button>TP-Link</button></a>
					<a href="Western Digital.html"><button>Western Digital</button></a>
				</div>
			</div>
		</li>
		
		<li class="has-submenu" style="background-color: rgb(0, 0, 255);"><a href="Local IT Services.html">Local IT Services</a>
			<div id="Local-menu" class="submenu">
				<div class="submenu-section">
					<h5>IT Services</h5>
					<a href="Computer Repairs & Troubleshooting.html"><button>Computer Repairs & Troubleshooting</button></a>
					<a href="Computer Upgrades & Optimisation.html"><button>Computer Upgrades and Optimisation</button></a>
					<a href="Computer Setup & Data Transfer.html"><button>Computer Setup & Data Transfer</button></a>
				</div>
				<div class="submenu-section">
					<h5>IT Services</h5>
					<a href="virus & malware removal.html"><button>Virus & Malware Removal</button></a>
					<a href="backup solution.html"><button>Backup Solutions</button></a>
					<a href="Data Recovery.html"><button>Data Recovery</button></a>
					<a href="Data Recovery.html"><button>Data Destruction</button></a>
				</div>
			</li>

		<li class="has-submenu" style="background-color: rgb(255, 0, 13);">
			<a href="Business & public Sector IT.html">Business & Public Sector IT</a>
			<div id="bus-menu" class="submenu">
				<div class="submenu-section">
					<h5>IT Services</h5>
					<button>IT Procurement Services</button>
					<button>Managed IT Support Services</button>
					<button>Cloud Solutions</button>
					<button>Microsoft 365 Services</button>
					<button>Cyber Security Services</button>
					<button>Data Services</button>
					<button>System App & Dev Support</button>
				</div>
				<div class="submenu-section">
					<h5>Hardware Services</h5>
					<button>Business IT Products</button>
					<button>IT Procurement Services</button>
					<button>IT Equipment Leasing & Finance</button>
				</div>
			</div>
		</li>
	</ul>
  </div>
  <!----Menu-bar----->

<!-----promo section---->
    <div class="promo-section">
        <div class="promo-text">On-Sale Laptops</div>
        <a href="laptops.html" class="promo-button">Shop now</a>
    </div>

    <!------Local IT Support Services------->

    <div class="hero-section" id="Recovery">
        <div class="hero-overlay">
            <div class="hero-content">
                <h1>Data Recovery</h1>
                <p>
                    One of the most traumatic experiences of using a computer is data loss. It might be irreplaceable family photos or your life's work, either way, the feeling is gut-wrenching. However, in many cases, we can help you recover some or all that precious data. We have a number of methods for data recovery so get it touch!
                </p>
                <a href="#form-section" class="hero-btn">Contact us today!</a>
            </div>
        </div>
    </div>

	<div class="text-card">
		First things first, Data Recovery is a minefield and unfortunately, there isn’t a one size fits all solution. The process can be either simple or complex. Unfortunately, there are also a lot of operators <br>within the field, who will charge you several hundred pounds for a relatively simple job. On the other hand some jobs are very complex and do require sending off to the lab. <br> <br>

If you’ve ended up here, it’s probably because you can’t access your data, and you’re wondering how you can get it back, how long it might take and how much it might cost.The truth is, we might <br> be able to recover all your data within a couple of days, or even within a few hours. There’s also a chance that we might be able to recover only some of your data or none of it. It really depends <br> on the reason why you can’t access your data and the hardware you're using.<br> <br>

Our prices for data recovery are set with our standard hourly rate of £48. To note we do not charge for time spent waiting for data to be transfered as this could take a very long time and this <br>processes is left running.<br> <br>

In some cases, advanced recovery is required and unfortunately, this is where the process gets both expensive and time-consuming. This is done on a quote by quote basis and the storage <br>device will need to be sent off to the lab.<br> <br>

The reason advanced data recovery is so expensive is that it must be performed within a laboratory environment, and includes extended engineering, advanced board work, micro-soldering, and <br>chip-level recovery. It often also requires donor components.<br> <br>

Many of our customers prefer to just explore the basic data recovery method, and we’re happy to accommodate this and can do so on a no recovery, no-fee basis. We understand that most <br>people are happy to pay the basic fee, but when it becomes more expensive, they would rather explore other options.<br> <br>

In addition to the cost of data recovery, you’ll also need an external hard drive for your data, which you can either provide yourself, or we can supply for you. If you provide your own, it must be <br>blank, of sufficient capacity and preferably new.

	</div> <hr>
  
	
<!----form---->

<div id="form-section" class="contact-form-container">
    <h2>Contact us today to find out how we can help</h2>
    <p>We aim to respond to all requests within 24 working hours.</p>
    <form>
        <label for="name">Your Name *</label>
        <input type="text" id="name" name="name" placeholder="Your Name" required>

        <label for="email">Email *</label>
        <input type="email" id="email" name="email" placeholder="Email" required>

        <label for="phone">Phone</label>
        <input type="tel" id="phone" name="phone" placeholder="Phone">

        <label for="service">What IT Service do you require? *</label>
        <select id="service" name="service" required>
            <option value="" disabled selected>Please select</option>
            <option value="option1">Computer Repairs & Troubleshooting</option>
            <option value="option2">Computer Upgrades and Optimisation</option>
            <option value="option3">Computer Setup & Data Transfer</option>
            <option value="option1">Virus & Malware Removal</option>
            <option value="option2">Backup Solutions</option>
            <option value="option3">Data Recovery</option>
            <option value="option3">Data Destruction</option>
        </select>

        <label for="comments">Additional comments</label>
        <textarea id="comments" name="comments" rows="2"></textarea>

        <button type="submit">Submit</button>
    </form>
</div>




<!----FOOTER----->
    
<section id="footer">
	<div class="container">
	 <div class="row">
	  <div class="footer_1 clearfix">
	   <div class="col-sm-3 col-xs-6">
		<div class="footer_1i clearfix">
		 <h5 style="color: white;" class="mgt col"><i class="fa fa-globe"></i> Visit our Support center <br> Expert help & advice</h5>
		</div>
	   </div>
	   <div class="col-sm-3 col-xs-6">
		<div class="footer_1i clearfix">
		 <h5 style="color: white;" class="mgt col"><i class="fa fa-truck"></i> Check your order status <br> Updates & Tracking</h5>
		</div>
	   </div>
	   <div class="col-sm-3 col-xs-6">
		<div class="footer_1i clearfix">
		 <h5 style="color: white;" class="mgt col"><i class="fa fa-retweet"></i>Returns & refunds All <br> you need to know</h5>
		</div>
	   </div>
	   <div class="col-sm-3 col-xs-6">
		<div class="footer_1i border_none clearfix">
		 <h5  style="color: white;"  class="mgt col"><i class="fa fa-tags"></i>Sell & Trade <br> Your IT Experience</h5>
		</div>
	   </div>
	  </div>
	  <div class="footer_2 clearfix">
	   <div class="col-sm-2">
		<div class="footer_2i clearfix">
		 <h5 style="color: white;"   class="col_1 mgt">SHOPS</h5>
		 <ul>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Custom PCs</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Destops</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Laptops</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Components & Parts</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Monitors</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Software</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Peripherals</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Networking</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Brands</a></li>
		 </ul>
		</div>
	   </div>
	   <div class="col-sm-2">
		<div class="footer_2i clearfix">
		 <h5 style="color: white;"   class="col_1 mgt">STORE INFO</h5>
		 <ul>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">About Us</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Customer Service</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">New Collection</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Best Sellers</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Manufactures</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Privacy Policy</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Terms & Condition</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Blog</a></li>
		 </ul>
		</div>
	   </div>
	   <div class="col-sm-2">
		<div class="footer_2i clearfix">
		 <h5 style="color: white;"   class="col_1 mgt">CUSTOMER CARE</h5>
		 <ul>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Search Terms</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Advanced Search</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Orders and Returns</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Contact Us</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">RSS</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Help & FAQs</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Consultant</a></li>
		  <li class="col-xs-6 col-sm-12 space_left"><a href="#">Store Locations</a></li>
		 </ul>
		</div>
	   </div>
	   <div class="col-sm-6">
		<div class="footer_2i1 clearfix">
		 <h5 style="color: white;"   class="col_1 mgt">SIGN UP FOR OUR NEWSLETTER</h5>
		 <p  style="color: white;"  class="col">Sign up for exclusive offers, product releases, news and more.</p>
		 <input type="text" class="form-control" placeholder="Enter your email address">
		 <h5 style="color: white;" class="mgt_b"><a class="button mgt" href="#"> SUBSCRIBE</a></h5>
		 <h5 style="color: white;" class="col_1">STAY CONNECTED</h5>
		 <ul class="social-network social-circle mgt">
						   <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
						   <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook-square"></i></a></li>
						   <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
						   <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
						   <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
			   </ul>
		</div>
	   </div>
	  </div>
	 </div>
	</div>
   </section>
   
   <section id="footer_bottom">
	<div class="container">
	 <div class="row">
	  <div class="col-sm-12">
	   <div class="footer_b_1 text-center clearfix">
		<p style="color: white;" class="mgt col">© 2024 DIXTRON All Rights Reserved </p>
	   </div>
	  </div>
	 </div>
	</div>
   </section>





   <script src='https://kit.fontawesome.com/c8e4d183c2.js'></script>

   <script src="script.js"></script>
   
   <script>
   $(document).ready(function(){
	   /*****Fixed Menu******/
	   var secondaryNav = $('.cd-secondary-nav'),
		  secondaryNavTopPosition = secondaryNav.offset().top;
		  navbar_height = document.querySelector('.navbar').offsetHeight;
		  
		   $(window).on('scroll', function(){
			   if($(window).scrollTop() > secondaryNavTopPosition + navbar_height ) {
				   secondaryNav.addClass('is-fixed');	
				   document.body.style.paddingTop = navbar_height + 'px';
				   
			   } else {
				   secondaryNav.removeClass('is-fixed');
				   document.body.style.paddingTop = '0'
			   }
		   });	
		   
   });
   </script>
   </body>
   </html>
   